<article class="archive-blog-main style-context-box">
	<span class="archive-blog-time"><%=blog.date.format(config.date_format);%></span>
	<h2>[ <% if (blog.category && blog.category.title) { %>
		<a href="<%=url(blog.category.url || blog.category.path);%>"><%=blog.category.title;%></a>
	<% } else { %>
		未分类
	<% } %>] <a href="<%=url(blog.url);%>"><%=blog.title;%></a>
	</h2>
	<p><%-blog.explain;%></p>
</article>