<div class="only-print" data-page-card data-title="<%= config.title; %>" data-url="<%=config.url;%>"></div>
<h1 class="archive-title"><%=page.category && page.category.title || '博客';%></h1>
<main class="archive-main">
	<%for (let blog of page.blogs) {%><article class="archive-blog-main style-context-box">
		<span class="archive-blog-time"><%=blog.date.format(config.date_format);%></span>
		<h2>[ <% if (blog.category && blog.category.title) { %>
			<a href="<%=url(blog.category.url || blog.category.path);%>"><%=blog.category.title;%></a>
		<% } else { %>
			未分类
		<% } %>] <a href="<%=url(blog.url);%>"><%=blog.title;%></a>
		</h2>
		<p><%-blog.explain;%></p>
	</article><%}%>
</main>
<div class="only-print" data-page-card data-title="<%= config.title; %>" data-url="<%=config.url;%>"></div>
