<div class="only-print" data-page-card data-title="<%= page.title; %>"></div>
<main>
<div class="blog-info">
	<span class="blog-time"></span>
	<h1 class="blog-title"><% if (page.category && page.category.title) { %>
		[<a href="<%=url(page.category.url);%>"><%=page.category.title;%></a>]
	<% } %><%=page.title;%></h1>
</div>
<article class="blog-main style-context-box" need-article-nav>
	<%-page.content;%>
</article>
<div class="style-context-box not-print" data-clipboard-tip="此文链接:" data-clipboard-data data-clipboard-type="url"></div>
<% if (page.references && page.references.length) {
	// TODO: references 参考文献
}%>
<div class="base-page-nav">
	<%if (page.prev) {%>
		<a href="<%=url(page.prev.url);%>" title="<%=page.prev.title;%>">上一篇：<%=page.prev.title;%></a>
	<%} else {%>
		<div>已经是第一篇</div>
	<%}%>
	<%if (page.next) {%>
		<a href="<%=url(page.next.url);%>" title="<%=page.next.title;%>">下一篇：<%=page.next.title;%></a>
	<%} else {%>
		<div>已经是最后一篇</div>
	<%}%>
</div>
<div class="only-print" data-page-card data-title="<%= page.title; %>"></div>
<div class="not-print" id="cyReward" role="cylabs" data-use="reward"></div>
<div class="not-print" id="cyEmoji" role="cylabs" data-use="emoji"></div>
<div class="not-print" id="SOHUCS"></div>
</main>
<div class="not-print" id="more-list"></div>
