<header>
	<div id="open-header" onclick="this.parentNode.classList.toggle('open')"></div>
	<div id="header-bar">
		<a href="/" id="site-logo">
			<img src="<%=url(config.logo || 'favicon.svg');%>" />
			<%= config.title; %>
		</a>
	</div>
	<nav>
		<ul>
			<li><a href="/">首页</a></li>
		<% if (global.blogIndexs) {%><%for(var k in blogIndexs) {
			const index = blogIndexs[k];
			%><li><a href="<%=url(index.url)%>"><%=index.title;%></a></li><%
		}%><%}%>
		</ul>

		<% if (global.navlist && navlist.length) {%><ul><%for(var item of navlist) {
			%><li><a target="_blank" href="<%=item.url;%>"><%=item.title;%></a></li><%
		}%></ul><%}%>
	</nav>
	<ul id="qrcode-links">
		<li title="微信公众号: 未来开发者(wangchenxu-net)"><a target="_blank" href="https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzU3NjMxNDgzMw==" class="wechat-logo"></a><img src="<%=url('/images/qrcode/wangchenxu-net.svg')%>"/></li>
		<li title="码云: wangchenxu-net"><a target="_blank" href="https://gitee.com/wangchenxu-net" class="gitee-logo"></a></li>
		<li title="gitlab: wangchenxu-net"><a target="_blank" href="https://gitlab.com/wangchenxu-net" class="gitlab-logo"></a></li>
		<li title="github: wangchenxu-net"><a target="_blank" href="https://github.com/wangchenxu-net" class="github-logo"></a></li>
		<li title="捐助我：支付宝"><div class="alipay-logo"></div><img src="<%=url('/images/qrcode/alipay.png')%>"/></li>
		<li title="捐助我：微信支付"><div class="wepay-logo"></div><img src="<%=url('/images/qrcode/wepay.png')%>"/></li>
		<li title="电子邮箱"><a target="_blank" href="mailto:www@wangchenxu.net" class="email-logo"></a></li>
	</ul>
</header>